<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hande_only">

    <xacro:arg name="com_port" default="/tmp/ttyTool" />

    <link name="world"/>

    <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro" />
    
    <xacro:hande_gripper 
        name="hande_gripper" 
        parent="world" 
        prefix="robotiq_" 
        use_fake_hardware="true"
    />

    <ros2_control name="gripper_hardware" type="system">
        <hardware>
            <plugin>robotiq_driver/RobotiqGripperHardwareInterface</plugin>
            
            <param name="com_port">/tmp/ttyTool</param>
            <param name="baud_rate">115200</param>
            
            <param name="timeout">2.0</param>

            <param name="gripper_speed_multiplier">1.0</param>
            <param name="gripper_force_multiplier">1.0</param>
            <param name="gripper_closed_position">0.05</param>
            <param name="gripper_open_position">0.0</param>
        </hardware>
        
        <joint name="robotiq_hande_left_finger_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
