<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_hande">

  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="kinematics_params" default="$(find my_robot_description)/config/my_robot_calibration.yaml"/>
  
  <xacro:arg name="use_isaac_sim" default="false"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro"/>

  <link name="world"/>

  <xacro:ur_robot 
    name="ur5e_robot" 
    tf_prefix="" 
    parent="world" 
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml" 
    kinematics_parameters_file="$(arg kinematics_params)" 
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml" 
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml" 
    use_fake_hardware="$(arg use_fake_hardware)" 
    sim_gazebo="false" 
    initial_positions="${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:hande_gripper name="hande_gripper" parent="tool0" prefix="robotiq_" use_fake_hardware="$(arg use_fake_hardware)"/>

  <xacro:if value="$(arg use_isaac_sim)">
    <ros2_control name="IsaacSimGripperInterface" type="system">
      <hardware>
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/joint_commands</param>
        <param name="joint_states_topic">/joint_states</param>
      </hardware>
      
      <joint name="robotiq_hande_left_finger_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:if>

  <link name="camera_depth_optical_frame"/>
  <joint name="tripod_camera_joint" type="fixed">
    <parent link="world"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0.5 0.33 0.9" rpy="3.14159 0 0"/> 
  </joint>

</robot>