<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_hande">

  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="kinematics_params" default="$(find my_robot_description)/config/my_robot_calibration.yaml"/>
  
  <xacro:arg name="use_isaac_sim" default="false"/>

  <xacro:arg name="robot_ip" default="192.168.1.100"/>
  <xacro:arg name="reverse_ip" default="192.168.1.102"/>
  <xacro:arg name="script_filename" default="to_be_filled_by_ur_robot_driver"/>
  <xacro:arg name="input_recipe_filename" default="to_be_filled_by_ur_robot_driver"/>
  <xacro:arg name="output_recipe_filename" default="to_be_filled_by_ur_robot_driver"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro"/>

  <link name="world"/>

  <xacro:ur_robot 
    name="ur5e_robot" 
    tf_prefix="" 
    parent="world" 
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml" 
    kinematics_parameters_file="$(arg kinematics_params)" 
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml" 
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml" 
    use_fake_hardware="$(arg use_fake_hardware)" 
    sim_gazebo="false" 
    robot_ip="$(arg robot_ip)"
    reverse_ip="$(arg reverse_ip)"
    script_filename="$(arg script_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    initial_positions="${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:robotiq_hande_gripper 
    name="hande_gripper" 
    prefix="" 
    parent="tool0" 
    grip_pos_min="0.0"
    grip_pos_max="0.025"
    tty_port="/tmp/ttyTool"
    baudrate="115200"
    parity="0"
    data_bits="8"
    stop_bit="1"
    slave_id="9"
    use_fake_hardware="$(arg use_fake_hardware)" />

  <link name="camera_depth_optical_frame"/>
  <joint name="tripod_camera_joint" type="fixed">
    <parent link="world"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0.5 0.33 0.9" rpy="3.14159 0 0"/> 
  </joint>

</robot>
